/* Elementi utili */
/*border-bottom:1px solid #dd4b39;		Riga separatoria*/

body	
  {
	background: white;	  	
    font-family: sans-serif;
  }	  

h1	
  {	  	
  	color: #dd4b39;
	
	text-align: center;
  }	
	
.input
{
	text-align:center;
    line-height: 2em;
    
}

.input input[type=text], .input input[type=password]
{    
	display: inline-block;
    width:5%;
}

.input input[type=submit]
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
